.card-area{
  width: 300px;
  height: 400px;
  border-radius: 10px;
  cursor: pointer;
}

.photo{
  width: 100%;
  border-radius: 10px;
  padding: 1em;
}

.photo img {
  max-width: 200px;
  max-height: 200px;
}

.explanation{
  padding: 1em;
}